.row
  %h2 Complete Schedule
%section.tabs
  .row
    .twelve.columns
      %ul.tab-nav
        %li.active
          %a{:href => "#"} Mon
        %li
          %a{:href => "#"} Tue
        %li
          %a{:href => "#"} Wed
        %li
          %a{:href => "#"} Thu

  .tab-content.active
    = render partial: 'partials/schedule_day', collection: @full_schedule[:mon]["schedule"], as: :session, locals: {day: 'mon'}
  .tab-content
    = render partial: 'partials/schedule_day', collection: @full_schedule[:tus]["schedule"], as: :session, locals: {day: 'tue'}
  .tab-content
    = render partial: 'partials/schedule_day', collection: @full_schedule[:wed]["schedule"], as: :session, locals: {day: 'wed'}
  .tab-content
    = render partial: 'partials/schedule_day', collection: @full_schedule[:thu]["schedule"], as: :session, locals: {day: 'thu'}
