.navbar.row.nav1
  %a.toggle{ :href => "#"}
    %i.icon-menu
  %h1.four.columns.logo
    = link_to '/' do 
      RailsConf Schedule App 
  %ul.eight.columns
    %li
      %a{:href => "#"} 
        Full Schedule
        %i.icon-book-open
    %li
      %a{:href => "#"} 
        My Schedule
        %i.icon-calendar
    %li
      %a{:href => "#"} 
        Sign Out
        %i.icon-logout