.navbar.row.nav1
  %a.toggle{ :href => "#"}
    %i.icon-menu
  %h1.four.columns.logo
    = link_to '/' do 
      RailsConf Schedule App 
  %ul.eight.columns
    %li
      %a{:href => "/dashboard"} 
        Full Schedule
        %i.icon-book-open
    - if current_user
      %li
        = link_to schedule_sessions_path() do 
          My Schedule
          %i.icon-calendar
      %li
        = link_to signout_path do
          Sign Out
          %i.icon-logout
    - else
      %li
        = link_to '/auth/github' do
          Sign In
          %i.icon-github
